@charset "UTF-8";
@font-face {
  font-family: 'Work Sans';
  src: url('../PORTIFOLIO/fontes/Work_Sans/WorkSans-VariableFont_wght.ttf') format('truetype');
}

:root {
    --cor0: #E0E0E0;
    --cor1: #485177;
    --cor2: #2F3658;
    --cor3: #1E264A;
    --cor4: #0F1635;
    --cor5: #04091F;

    --fonte-padrao: 'Work Sans', arial, verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor5);
    text-align: center;
}

header {
    font-size: var(--cor0);
    background-color: var(--cor4);
    padding: 2.2em;
    text-align: center;
}

header a {
    font-size: 1.3em;
    color: var(--cor0);
    font-weight: bold;
    padding: 1em 2em;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em 14em 3em 2em;
}

main h1 {
    font-size: 4em;
    font-family: var(--fonte-padrao);
    color: var(--cor0);
    margin: 0;
    padding-left: 2em;
}

main img {
    width: 16em;
    height: 16em;
    border-radius: 50%;
    border: 0.1em solid var(--cor0);
    margin: 1em;  
}

.linguagens {
    text-align: center;
    padding: 5em 0 5em 0;
}

.grade-linguagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.linguagem {
    background-color: var(--cor4);
    color: var(--cor0);
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.6em 0.7em;
    border-radius: 0.5em;
    border: 2px solid var(--cor1);
    box-shadow: 0 0 0.8em rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.linguagem:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em rgba(72, 81, 119, 0.8);
}

.projetos {
    color: var(--cor0);
    text-align: center;
    padding: 5em 3em 7em 3em;
    position: relative;
    z-index: 1;
}

.projetos h2 {
    font-size: 2em;
    color: var(--cor0);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 2em;
}


.grade-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    justify-items: center;
}

.projeto {
    background-color: var(--cor3);
    border: 0.1em solid var(--cor1);
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
    display: block;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    max-width: 20em;
 
}

.projeto:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 0 1.5em rgba(72, 81, 119, 0.7);
}

.projeto img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.projeto h3 {
    color: var(--cor0);
    font-size: 1.5em;
    margin: 0.5em 0 0.3em 0;
}

.projeto p {
    font-size: 1em;
    color: var(--cor0);
    padding: 0 1em 1em;
    line-height: 1.4em;
}

.contato {
    text-align: center;
    padding: 2em;
    background-color: var(--cor4);
    color: var(--cor0);
}

.contato h2 {
    font-size: 2em;
    color: var(--cor0);
    margin-bottom: 1em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.contato form {
  max-width: 25em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--cor3);
  padding: 2em;
  border-radius: 1.2em;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
}

.contato label {
  text-align: left;
  font-weight: bold;
  color: var(--cor0);
  font-size: 1em;
}

.form-input {
  width: 95%;
  padding: 0.8em;
  border: 0.1em solid var(--cor1);
  border-radius: 0.6em;
  background-color: var(--cor2);
  color: var(--cor0);
  font-size: 1em;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
  background-color: var(--cor1);
  box-shadow: 0 0 0.8em rgba(72, 81, 119, 0.8);
}

.contato button {
  background-color: var(--cor2);
  color: var(--cor0);
  border: 0.1em solid var(--cor1);
  font-size: 1em;
  border-radius: 0.6em;
  padding: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 1em;
  align-self: center;
}

.contato button:hover {
  background-color: var(--cor2);
  transform: scale(1.05);
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 2em 0 1em 0;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: 2em;
  max-width: 100%;
  overflow-x: hidden;
}

.rodape h3 {
  font-size: 1.5em;
  color: var(--cor0);
  margin: 0;
  padding-bottom: 0.3em;
}

.rodape p {
  text-align: center;
  color: #ffffff6d;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.emailitem, .socialitem {
  display: flex;
  align-items: center;
  color: inherit;
}

.socialicon {
  width: 3.5em;
  height: 3.5em;
  object-fit: contain;
}

@media (max-width: 40em) {
    .projetos {
        padding: 3em 1em;
    }

    .projetos h2 {
        font-size: 1.6em;
    }

    .projeto img {
        height: 10em;
    }

    .contato form {
        width: 100%;
        padding: 1.5em;
    }

    .contato h2 {
        font-size: 1.6em;
    }

    .form-input {
        font-size: 0.95em;
    }
}
