@charset "UTF-8";
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Italic-Variable.ttf') format('truetype');
}

:root {
    --cor0: #E0E0E0;
    --cor1: #485177;
    --cor2: #2F3658;
    --cor3: #1E264A;
    --cor4: #0F1635;
    --cor5: #04091F;

    --fonte-padrao: 'Work Sans', arial, verdana, helvetica, sans-serif;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor4);
    color: var(--cor0);
    text-align: center;
}

.fotoperfil {
    display: block;
    margin: 1em auto 0em auto;
    padding-top: 1em;
    width: 11em;
    height: 11em; 
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.5em;
}

main h2 {
    font-size: 2em;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-bottom: 1em;
}

.redes img {
    cursor: pointer;
    transition: transform 0.2s;
}

.redes img:hover {
    transform: scale(1.1);
}

hr {
    border: none;
    border-top: 3px solid var(--cor1);
    margin: 20px auto;
    width: 80%;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.icon {
    width: 4em;
    height: 4em;
    object-fit: contain;
    display: inline-block;
    margin: 0.5em;
    padding: 0;
    margin-bottom: 3em;
}

.formacao h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: var(--cor0);
    font-size: 2em;
}

.formacao dt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: var(--cor0);
}

.formacao dd {
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 20px;
    color: var(--cor0);
    font-size: 1em;
}

.profissao h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: var(--cor0);
    font-size: 2em;
}

.profissao dt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: var(--cor0);
}

.profissao dd {
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 20px;
    color: var(--cor0);
    font-size: 1em;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.contato h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
    color: var(--cor0);
}

.contato form {
    width: 30em;
    padding: 1.5em;
    border-radius: 15px;
    box-shadow: var(--cor1);
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 0.1em solid var(--cor5);
}

.form-input {
    padding: 10px;
    border: 0.1em solid var(--cor5);
    border-radius: 8px;
    font-size: 1.2em;
    width: 95%;
    background-color: var(--cor0);
}

.contato button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contato button img {
    width: 70px;
    height: 70px;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.contato button:hover img {
    transform: scale(1.1);
}







/*
@charset "UTF-8";

body {
    background-color: #D6D1F6;
    background-attachment: fixed;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;
}

.fotoperfil {
    display: block;
    margin: auto;
    width: 13em;
    height: 13em;    
}

hr {
    border: none;
    border-top: 3px solid #082640;
    margin: 20px auto;
    width: 80%;
}

h1 {
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-bottom: 15px;
}

.redes img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s;
}

.redes img:hover {
    transform: scale(1.1);
}

p {
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

h2 {
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.habilidades {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.icon {
    width: 4em;
    height: 4em;
    object-fit: contain;
    display: inline-block;
    margin: 0.5em;
    padding: 0;
    margin-bottom: 3em;
}

.formacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.academica {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.academica dt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 6px;
    font-weight: bold;
    color: #082640;
}

.academica dd {
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 14px;
    margin-left: 20px;
    color: #082640;
    font-size: 1.1em;
}

.experiencia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.profissao dt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 6px;
    font-weight: bold;
    color: #082640;
}

.profissao dd {
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    margin-bottom: 14px;
    margin-left: 20px;
    color: #082640;
    font-size: 1.1em;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.logocontato {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.contato h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2em;
    color: #082640;
}

.contato form {
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #082640;
    background-color: #E9E6FC;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1.5px solid #082640;
}

.form-input {
    padding: 10px;
    border: 1.5px solid #082640;
    border-radius: 8px;
    font-size: 1em;
    width: 95%;
    background-color: #D6D1F6;
}

.contato button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contato button img {
    width: 70px;
    height: 70px;
    display: block;
    transition: transform 0.2s ease-in-out;
}

.contato button:hover img {
    transform: scale(1.1);
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
}

footer h2 {
    margin-bottom: 15px;
    color: #082640;
    font-family: 'Delius', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

footer a img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

footer a img:hover {
    transform: scale(1.1);
}
*/